---
import Layout from '../layouts/Layout.astro';
import Content from '../components/Content.astro';
import HeroMain from '../components/HeroMain.astro';
import SplitAbout from '../components/SplitAbout.astro'
import CardTreatments from '../components/CardTreatments.astro'
import TitleShort from '../components/TitleShort.astro'
import CardTestimonials from '../components/CardTestimonials.astro';
import ActionTeam from '../components/ActionTeam.astro';
import ActionServices from '../components/ActionServices.astro';
import CardPhilosophy from '../components/CardPhilosophy.astro'
import ActionContact from '../components/ActionContact.astro'
import Title2 from '../components/Title2.astro';
import TitleParagraph from '../components/TitleParagraph.astro';
import ActionWhatsApp from '../components/ActionWhatsApp.astro';
import CarouselInstallations from '../components/CarouselInstallations.astro';
import TitleLarge from '../components/TitleLarge.astro';
import Title3 from '../components/Title3.astro';
import CardAccompaniment from '../components/CardAccompaniment.astro';
---

<Layout title="Vitae Medicina Reproductiva Norte" description="Somos líderes en el NOA en el abordaje interdisciplinario de la fertilidad: Ginecología, Obstetricia, Endocrinología, Cardiología, Ecografías, Psicología, Nutrición y otros" ogTitle="MRN Vitae Medicina Reproductiva Norte" ogDescription="Somos líderes en el NOA en el abordaje interdisciplinario de la fertilidad: Ginecología, Obstetricia, Endocrinología, Cardiología, Ecografías, Psicología, Nutrición y otros" canonical="https://vitae.com/">  
    <HeroMain />

    <article class="py-24 bg-white">
        <TitleShort>
            <Title2 titleColor="text-slate-900">
                Ciencia, empatía y esperanza: <span class="text-primary-500">Nuestra forma de trabajar</span>
            </Title2>
            <TitleParagraph contentColor="text-slate-600">
                Nuestra filosofía combina un enfoque integral para transformar el <b>sueño de la paternidad</b> en realidad.
            </TitleParagraph>
        </TitleShort>
        
        <Content styles="grid md:grid-cols-2 lg:grid-cols-3 gap-8 items-stretch">        
            <CardPhilosophy />
        </Content>
    </article> 

    <article class="py-24 bg-slate-100">
        <TitleShort>
            <Title2 titleColor="text-slate-900">
                Nuestros Servicios Destacados que <span class="text-primary-500">ayudan a tu vida</span> 
            </Title2>
            <TitleParagraph contentColor="text-slate-600">
                Explore cómo <b>podemos ayudarte</b> con soluciones profesionales y personalizadas.
            </TitleParagraph>
        </TitleShort>
        
        <Content styles="grid gap-y-8"> 
            <CardTreatments limit={3} />
        </Content>
    </article>

    <ActionServices />

    <article class="py-24 bg-white">
        <TitleLarge>
            <Title3 titleColor="text-slate-900">
                Acompañamiento <span class="text-secondary-500">Integral</span> 
            </Title3>
            <TitleParagraph contentColor="text-slate-600">
                Sabemos que el camino hacia la <b>maternidad o paternidad</b> puede ser un desafío emocional y físico. Por eso, <b>ofrecemos apoyo psicológico, planes de nutrición personalizados y orientación</b> en cada etapa del tratamiento.
            </TitleParagraph>
        </TitleLarge>
        
        <Content styles="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8">
            <CardAccompaniment />
        </Content>
    </article> 

    <!-- <CarouselInstallations /> -->

    <article class="py-24 bg-white">
        <TitleShort>
            <Title2 titleColor="text-primary-500">
                Lo que dicen nuestros clientes 
            </Title2>
            <TitleParagraph contentColor="text-slate-600">
                Explore cómo podemos ayudarte con <b>soluciones profesionales y personalizadas</b>.
            </TitleParagraph>
        </TitleShort>
        
        <Content styles="grid gap-8 lg:12 md:grid-cols-2 lg:grid-cols-3 items-stretch">
            <CardTestimonials /> 
        </Content>
    </article>

    <ActionTeam />

    <article class="bg-white py-24"> 
        <Content styles="grid gap-12 md:grid-cols-2 md:gap-6 lg:gap-12">
            <SplitAbout />
        </Content>
    </article>

    <ActionWhatsApp />

    <ActionContact/>
</Layout>
