---
import ButtonPrimary from "./ButtonPrimary.astro";
import FacebookIcon from "./icons/Facebook.astro";
import TemplateActionVisual from "./TemplateActionVisual.astro";
---

<TemplateActionVisual bgContainer="bg-gradient-to-r from-blue-800 to-blue-600" image="/mockups/facebook.webp" alt="Mockup de Facebook"> 
    <div slot="content" class="md:w-1/2 text-center md:text-left text-white space-y-4 relative z-10">
        <p class="text-sm font-semibold text-cyan-300">
            Nuevo Canal
        </p>
        <h2 class="text-4xl sm:text-5xl lg:text-6xl font-extrabold tracking-tight leading-tight mb-4 text-cyan-500">
            Síguenos en Facebook
        </h2>
        <p class="text-lg sm:text-xl lg:text-2xl font-medium mb-6 opacity-90 text-white/90">
            Mantente informado sobre nuestros servicios, novedades y contenido exclusivo sobre salud y bienestar. 
            <div>Resolvermos dudas y compartimos historias inspiradoras de nuestros pacientes.</div> 
        </p>
        <ButtonPrimary href="https://www.facebook.com/vitaemed/" textColor="text-white" bgColor="bg-cyan-400" bgHover="hover:bg-cyan-500">
            <FacebookIcon class="size-5 mr-2" />
            Facebook
        </ButtonPrimary>
    </div>

    <div slot="decoration" class="absolute bottom-[5%] left-[5%] w-10 h-10 bg-blue-950/20 opacity-50 rounded-md"></div>
    <div slot="decoration" class="absolute top-[10%] left-[10%] w-12 h-12 bg-blue-950/20 opacity-50 rounded-md"></div>
    <div slot="decoration" class="absolute top-[45%] left-[35%] w-32 h-32 bg-blue-950/20 opacity-50 rounded-md"></div>
    <div slot="decoration" class="absolute top-[20%] right-[20%] w-10 h-10 bg-cyan-400 opacity-50 rounded-b-md"></div>
    <div slot="decoration" class="absolute bottom-[10%] right-[5%] w-16 h-16 bg-blue-950/20 opacity-50 rounded-md"></div>   
</TemplateActionVisual>