---
import ButtonPrimary from "./ButtonPrimary.astro";
import InstagramIcon from "./icons/Instagram.astro";
import TemplateActionVisual from "./TemplateActionVisual.astro";
---

<TemplateActionVisual bgContainer="bg-gradient-to-r from-pink-600 to-purple-600" image="/mockups/instagram.webp" alt="Mockup de Instagram"> 
    <div slot="content" class="md:w-1/2 text-center md:text-left text-white space-y-4 relative z-10">
        <p class="text-sm font-semibold text-pink-300">
            Únete a nuestra comunidad
        </p>
        <h2 class="text-4xl sm:text-5xl lg:text-6xl font-extrabold tracking-tight leading-tight mb-4 text-pink-500">
            Síguenos en Instagram
        </h2>
        <p class="text-lg sm:text-xl lg:text-2xl font-medium mb-6 opacity-90 text-white/90">
            Descubre contenido explusivo sobre tratamientos, testimonios de pacientes y consejos de nuestros especialistas. 
            <div>Únete a nuestra comunidad y forma parte de la conversación.</div> 
        </p>
        <ButtonPrimary href="https://www.instagram.com/vitaesalta/" textColor="text-white" bgColor="bg-pink-500" bgHover="hover:bg-pink-600">
            <InstagramIcon class="size-5 mr-2"  />
            Instagram
        </ButtonPrimary>
    </div>

    <div slot="decoration" class="absolute bottom-[5%] left-[5%] w-10 h-10 bg-purple-950/20 opacity-50 rounded-md"></div>
    <div slot="decoration" class="absolute top-[10%] left-[10%] w-12 h-12 bg-purple-950/20 opacity-50 rounded-md"></div>
    <div slot="decoration" class="absolute top-[45%] left-[35%] w-32 h-32 bg-purple-950/20 opacity-50 rounded-md"></div>
    <div slot="decoration" class="absolute top-[20%] right-[20%] w-10 h-10 bg-pink-400 opacity-50 rounded-b-md"></div>
    <div slot="decoration" class="absolute bottom-[10%] right-[5%] w-16 h-16 bg-purple-950/20 opacity-50 rounded-md"></div>   
</TemplateActionVisual>