---
import ChevronUp from "./icons/ChevronUp.astro";
---

<button id="buttonTop" class="bg-yellow-500 text-white fixed bottom-8 right-8 rounded-full shadow-lg w-14 h-14 items-center justify-center transition-transform transform scale-100 hover:scale-105 z-[80] hidden">
    <ChevronUp />
</button>

<script is:inline>
    const button = document.getElementById('buttonTop');
    
    const toggleButtonVisibility = () => {
        if (window.scrollY > 100) {
            button.classList.remove('hidden');
            button.classList.add('flex');
        } else {
            button.classList.remove('flex');
            button.classList.add('hidden');
        }
    };

    window.addEventListener('scroll', toggleButtonVisibility);
    window.addEventListener('resize', toggleButtonVisibility);
    document.addEventListener('DOMContentLoaded', toggleButtonVisibility);

    button.addEventListener('click', () => {
        window.scrollTo({
            top: 0,
            behavior: 'smooth'
        });
    });
</script>