---
const { textColor, bgColor, bgHover } = Astro.props
---

<button type="submit" class=`btn-form ${textColor} ${bgColor} ${bgHover} outline-none mt-6 font-medium text-sm rounded-full px-5 py-2.5 text-center inline-flex items-center transition-all duration-200`>
    <slot />
</button>

<style>
    .btn-form {
        cursor: pointer;
    }
</style>