---
import StethoscopeIcon from "./icons/Stethoscope.astro";
import CarriageIcon from "./icons/Carriage.astro";
import FlaskIcon from "./icons/Flask.astro";
import HeartBeatIcon from "./icons/HeartBeat.astro";
import BrainIcon from "./icons/Brain.astro";
import ChickenIcon from "./icons/Chicken.astro";

const APPROACH = [
  {
    title: "Ginecología",
    description: "Atención integral en salud reproductiva femenina.",
    Icon: StethoscopeIcon,
  },
  {
    title: "Obstetricia",
    description: "Cuidado especializado durante el embarazo y parto.",
    Icon: CarriageIcon,
  },
  {
    title: "Endocrinología",
    description: "Diagnóstico y manejo de trastornos hormonales.",
    Icon: FlaskIcon,
  },
  {
    title: "Cardiología",
    description: "Cuidado del corazón y sistema cardiovascular.",
    Icon: HeartBeatIcon,
  },
  {
    title: "Psicología",
    description: "Apoyo emocional y mental en todas las etapas.",
    Icon: BrainIcon,
  },
  {
    title: "Nutrición",
    description: "Planes alimenticios personalizados para tu salud.",
    Icon: ChickenIcon,
  }
];
---

{
  APPROACH.map(({ title, description, Icon }) => (
    <div class="bg-white shadow-md rounded-lg p-6 text-center hover:shadow-xl transition w-full">
      <div class="flex justify-center mb-4">
        <Icon class="text-cyan-500 size-12" />
      </div>
      <h3 class="text-cyan-500 text-xl font-bold">{title}</h3>
      <p class="text-slate-600 mt-2">{description}</p>
    </div>
  ))
}

 