---
const dataList = [
    {
        title: 'Nosotros',
        type: 'link',
        links: [
            { title: 'Sobre Nosotros', href: '/nosotros'},
            { title: 'Servicios', href: '/servicios' },
            { title: 'Profesionales', href: '/profesionales' },
            { title: 'Tratamientos', href: '/servicios/#tratamientos' },
            { title: 'Turnos', href: '/' }
        ]
    },
    {
        title: 'Contacto',
        links: [
            { title: '20 de Febrero 1394', href: '/' },
            { title: 'Salta Argentina', href: '/' },
            { title: '+54 9 3874211437', href: '/' },
            { title: '+54 9 3875898999', href: '/' }
        ]
    }
]
---
{dataList.map(({ title, type, links }) => {
    return (
        <div>
            <h2 class="mb-2 text-sm font-semibold text-gray-700 uppercase dark:text-white">{title}</h2>
            <ul class="text-gray-500 text-sm">
                {links.map((link) => (
                    <li>
                        {type ?
                            <a href={link.href} class="hover:underline">{link.title}</a> : 
                            <span>{link.title}</span>
                        }
                    </li>
                ))}
            </ul>
        </div>
    )
})}

