<blockquote class="mt-8 bg-yellow-100 p-6 rounded-lg w-full max-w-3xl mx-auto">
  <p class="text-xl italic text-yellow-600 text-center">
    "Nuestro compromiso es con cada paciente, con cada sue침o de ser padres. Trabajamos con el coraz칩n, para generar lazos que duran toda la vida."
  </p>

  <footer class="mt-8 flex space-x-4 justify-center items-center">
    <div class="flex justify-center">
      <img 
        src="/team/adrian-char.webp" 
        alt="Dr. Adri치n Char" 
        class="rounded-2xl shadow-lg size-10"
      />
    </div>
    <p class="text-yellow-600 font-semibold">Dr. Adri치n Char</p>
  </footer>
</blockquote>