---
import TemplateHeroSecondary from "./TemplateHeroSecondary.astro";
---

<TemplateHeroSecondary>
    <div slot="gradient-layer" class="absolute inset-0 bg-rose-100"></div>

    <section slot="contentLeft" class="relative lg:col-span-3 pr-4">
        <h1 class="text-5xl lg:text-6xl font-extrabold tracking-tight leading-tight text-slate-900 text-center lg:text-start">
            Transformamos sueños en realidad: <span class="text-primary-500">Líders en Medicina Reproductiva en el NOA</span>
        </h1>
        <p class="text-lg mt-8 w-full lg:max-w-lg [text-wrap:balance] text-center lg:text-start text-slate-600">
            Un equipo multidisciplinario comprometido con <b>tu felicidad y el milagro de la vida</b>, conoce más sobre nosotros.
        </p>
    </section>
    
    <img slot="resource" class="relative mx-auto" src="/heros/about.svg" />
</TemplateHeroSecondary>