---
import FavIcon from "./icons/FavIcon.astro";
---

<a href="/" class=`flex items-center space-x-1.5 ${Astro.props.class}`>
    <section>
        <FavIcon class="size-8"/>
    </section>
    <p class="self-center text-2xl font-medium whitespace-nowrap text-gray-300 leading-5">
        Vitae
    </p>
</a>