---
import ButtonRounded from "./ButtonRounded.astro";
import TemplateSplit from "./TemplateSplit.astro"
---

<TemplateSplit>
    <img slot="resource" src="/imageA.jpg" alt="Instalaciones modernas" class="object-cover w-full h-full"/>

    <div slot="content" class="space-y-6">
        <h2 class="text-4xl lg:text-5xl font-bold lg:tracking-tight text-primary-500">Un centro especializado en el que puedes confiar.</h2>

        <p class="text-lg text-slate-600">
        En <b>MRN Vitae Medicina Reproductiva Norte</b> somos líderes en el NOA, con un enfoque interdisciplinario que abarca <b>ginecología, obstetricia, endocrinología, cardiología, psicología, nutrición</b> y mucho más. Nuestro equipo, conformado por más de 70 especialistas, trabaja cada día para cumplir tu mayor anhelo.
        </p>

        <ButtonRounded href="/nosotros" textColor="text-white" bgColor="bg-primary-500" bgHover="hover:bg-primary-600">
            Conoce más sobre nosotros
        </ButtonRounded>
    </div>
</TemplateSplit>
