<section class="relative overflow-hidden h-screen flex items-center justify-center">
    <slot name="dark-layer" />

    <slot name="gradient-layer" />

    <slot name="resource" />

    <slot name="content" />
</section>
