<article class="relative w-full py-24 px-8 md:px-12 grid lg:grid-cols-5 gap-8">
    <slot name="gradient-layer" />

    <slot name="contentLeft" />
    
    <section class="lg:col-span-2">
        <slot name="resource" />
    </section>
    
    <slot name="contentRight" />
</article>